*{
        padding: 0;
        
}

body{
        margin: 0;
}

.container{
        background-color: black;
        /*centralizar as divs filhas */
        height: 100vh;   
        width: 100vw;  
        display: flex;
        justify-content: center;
        align-items: center;  
}
.destaque{
       
        margin: 20px;
        padding: 20px; 
        height: 90vh;
        width: 15vw;
        background-color: #eb6b0e;
        border-radius: 50px;
        line-height: 37px;

}

.corpo{
        margin: 12px;
        background-color:#eb6b0e;
        border-radius: 50px;
        /*centralizar a div filha*/
        height: 95vh;   
        width: 100vw; 
        display: flex; 
        justify-content: center;
        align-items: center;       
        
}

.corpo-h1{
        color: white;
        font-family: "Quicksand", sans-serif;
        font-size: 40px;
        position: relative;
        left: 40px;
        top: 20px;
}

.corpo-h2{

        color: white;
        font-family: "Quicksand", sans-serif;
        font-size: 30px;
        position: relative;
        left: 40px;
        top: 20px;  
}

.corpo-ul{
        color: white;
        font-family:"Red+Hat+Display";
        font-size: 20px;
        padding-left: 100px;

}


.conteudo{
        padding: 5px;
        width: 78vw;
        height: 89vh; 
        background-color: black;
        border-radius: 50px;

}
  

h1{
        color: black;
        font-family: "Quicksand", sans-serif;
        font-size: 40px;
}




h2{
        color: black;
        font-family: "Quicksand", sans-serif;
        font-size: 35px;
        
}


p{
        color: black;
        font-family:"Red+Hat+Display";
        font-size: 18px;
        
}

img	{
        border-radius: 50px;
        display: block;
        border: 5px solid black ;
}

ul{
        color: black;
        font-family:"Red+Hat+Display";
        font-size: 20px;
        padding-left: 52px;
}

hr{
        color: white;
        size: 70px;
        width: 400px;
        margin-left: 20px;

}
blockquote{
        color: white;
        font-family:"Red+Hat+Display";
        font-size: 20px;
        padding-left: 50px;

}